*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

.m_header_r { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_header_r { display: inline-block; width: 40px; float: right; height: 40px; background-color: #0063aa; color: white; font-size: 1.5rem; line-height: 40px; } }

.m_menu { display: none; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.7); position: fixed; z-index: 9999; top: 0; right: -100%; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_menu { display: inline-block; } }
.m_menu.menu_open { right: 0; }
.m_menu .menuBox { display: inline-block; width: 80%; height: 100vh; background-color: white; float: right; position: relative; }
.m_menu .menuClose { display: inline-block; width: 20%; max-width: 30px; float: right; margin: 10px 10px 0 0; }

.m_header { display: inline-block; width: 100%; padding: 15px; background-color: #f9f0c0; }

.m_header_img { display: inline-block; width: 100%; max-width: 65px; -moz-border-radius: 55px; -webkit-border-radius: 55px; border-radius: 55px; border: 1px solid #6a4320; overflow: hidden; background-color: white; float: left; margin-right: 15px; }
.m_header_img.nb_h_i { border: 0; background-color: transparent; }

.m_headerBoxsR { display: inline-block; width: calc(100% - 80px); float: left; }

.m_center { display: inline-block; width: 100%; }
.m_center .mLink { display: inline-block; width: 100%; border-bottom: 1px solid #0080ff; font-size: 1.4rem; font-weight: bolder; line-height: 40px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; padding: 10px 0; color: black; }
.m_center .mLink:hover, .m_center .mLink:active { color: #0080ff; }
.m_center .mLink img { display: inline-block; width: 55px; float: left; }

#myModel, .model { display: none; cursor: pointer; justify-content: center; align-items: center; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(33, 33, 33, 0.8); }
#myModel.showModel, .model.showModel { display: flex; }
#myModel .poupBoxs, .model .poupBoxs { display: inline-block; width: 100%; padding: 5px; *zoom: 1; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; }
#myModel .poupBoxs:after, .model .poupBoxs:after { display: table; content: ""; line-height: 0; clear: both; }
#myModel .poupBoxs.poupGreen, .model .poupBoxs.poupGreen { background: #7ab534; background: -moz-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); background: -webkit-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); background: linear-gradient(to bottom, #7ab534 14%, #d7e5a7 85%); }
#myModel .poupBoxs.poupRed, .model .poupBoxs.poupRed { background: #cc1824; background: -moz-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); background: -webkit-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); background: linear-gradient(to bottom, #cc1824 14%, #ec7e5a 85%); }
#myModel .poupBoxs .poupBoxs_bg, .model .poupBoxs .poupBoxs_bg { display: inline-block; width: 100%; height: 100%; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 20px; }
#myModel .poupBoxs .poupBoxs_bg.poupGreen_bg, .model .poupBoxs .poupBoxs_bg.poupGreen_bg { background: #fff8d9; background: -moz-linear-gradient(top, #ffffff 14%, #fff8dc 85%); background: -webkit-linear-gradient(top, #ffffff 14%, #fff8dc 85%); background: linear-gradient(to bottom, #ffffff 14%, #fff8dc 85%); }
@media screen and (max-width: 449px) and (min-width: 0) { #myModel .poupBoxs .poupBoxs_bg, .model .poupBoxs .poupBoxs_bg { padding: 10px; } }
#myModel .t-close, .model .t-close { display: inline-block; cursor: pointer; }
