*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bgWhite { background-color: white; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index { background-image: linear-gradient(to bottom, #407cff 14%, #ffd6b8 85%); background-color: #ffd6b8; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index_not { background-image: linear-gradient(to bottom, #ffca93 14%, #cfa7ff 85%); background-color: #cfa7ff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperPink { background-image: linear-gradient(to bottom, #4d82fd 14%, #e2c2e1 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

.n-footerboxs { display: inline-block; width: 100%; position: absolute; bottom: -24%; left: 0; z-index: 6666; padding: 0 15px; background-repeat: repeat-x; background-position: left bottom; background-image: url(../img/index/wave03.svg); }
.n-footerboxs.nom { bottom: -19%; }
@media screen and (max-width: 1024px) and (min-width: 916px) { .n-footerboxs.nom { bottom: -22%; } }
@media screen and (max-width: 915px) and (min-width: 0) { .n-footerboxs { background-image: none; position: unset; background-color: #134b7b; } }

.ibOut { width: 100%; max-width: 1150px; padding-top: 20px; margin: 0 auto; }
@media screen and (max-width: 899px) and (min-width: 0) { .ibOut { display: none; } }
.ibOut .ibanner { display: inline-block; width: calc(100% / 4 - 15px * 3 / 4); height: 100%; float: left; margin-right: 15px; border: 5px solid white; background-color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.ibOut .ibanner:last-child { margin-right: 0; }

.indexFText { display: inline-block; width: 100%; max-width: 1150px; font-size: 1rem; color: white; padding: 20px 0; }

.bannerBoxs { display: inline-block; width: 100%; position: absolute; bottom: -4%; left: 0; z-index: 6666; padding: 0 20px; }
@media screen and (min-width: 1300px) { .bannerBoxs { bottom: -35px; } }
@media screen and (max-width: 1024px) and (min-width: 915px) { .bannerBoxs { bottom: -9%; } }
@media screen and (max-width: 914px) and (min-width: 0) { .bannerBoxs { display: none; } }

.footerbox { display: inline-block; width: 100%; position: absolute; bottom: -4%; left: 0; z-index: 5555; height: 62px; background-image: url(../img/index/wave03.svg); background-repeat: repeat-x; }
@media screen and (min-width: 1300px) { .footerbox { bottom: -2%; } }
@media screen and (max-width: 915px) and (min-width: 0) { .footerbox { display: none; } }

.indexFT { display: inline-block; width: 100%; padding: 62px 20px 20px 20px; font-size: 1rem; background-color: #134b7b; color: white; position: absolute; bottom: -13%; left: 0; z-index: 5555; background-image: url(../img/index/bbg.svg); background-repeat: repeat; }
@media screen and (min-width: 1300px) { .indexFT { bottom: -13.5%; } }
@media screen and (max-width: 1024px) and (min-width: 916px) { .indexFT { bottom: -20%; } }
@media screen and (max-width: 915px) and (min-width: 850px) { .indexFT { padding: 17px 20px 20px 20px; } }
@media screen and (max-width: 849px) and (min-width: 770px) { .indexFT { padding: 17px 20px 20px 20px; bottom: -10%; } }
@media screen and (max-width: 769px) and (min-width: 450px) { .indexFT { padding: 17px 20px 20px 20px; bottom: 0; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexFT { padding: 10px 5px; font-size: .8rem; bottom: -4%; } }

.indexBoxs { display: inline-block; width: 100%; position: relative; }
.indexBoxs .lightBox { display: inline-block; width: 100%; position: absolute; top: 0; left: 0; z-index: 2222; }
.indexBoxs .lightBox.in-a { display: inline-block; width: 100%; height: 100%; min-height: 895px; background-image: url(../img/index/index-a.png); background-repeat: no-repeat; background-attachment: fixed; background-position: center top; background-size: auto; }
.indexBoxs .lightBox.in-b { display: inline-block; width: 100%; height: 100%; min-height: 895px; background-image: url(../img/index/index-b.png); background-repeat: no-repeat; background-attachment: fixed; background-position: center top; background-size: auto; }
.indexBoxs .imgBox { display: inline-block; width: 100%; position: absolute; top: 0; left: 0; z-index: 3333; }
.indexBoxs .imgBox .addbox { display: inline-block; position: absolute; width: 100%; max-width: 1200px; height: 100%; }
@media screen and (max-width: 915px) and (min-width: 840px) { .indexBoxs .imgBox .addbox { height: 85%; } }
@media screen and (max-width: 769px) and (min-width: 0) { .indexBoxs .imgBox .addbox { height: 90%; } }
.indexBoxs .imgBox .addbox .link00, .indexBoxs .imgBox .addbox .link01, .indexBoxs .imgBox .addbox .link02, .indexBoxs .imgBox .addbox .link03, .indexBoxs .imgBox .addbox .link04, .indexBoxs .imgBox .addbox .link05, .indexBoxs .imgBox .addbox .link06 { display: inline-block; position: absolute; cursor: pointer; width: 100%; }
.indexBoxs .imgBox .addbox .link00 { max-width: 22%; height: 21%; top: 3%; left: 9%; }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link00 { max-width: 38%; height: 13%; top: 3%; left: 6%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link00 { height: 18%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link00 { max-width: 110px; height: 79px; top: 3%; left: 11%; } }
.indexBoxs .imgBox .addbox .link01 { max-width: 13%; height: 24%; bottom: 16%; left: 36%; }
.indexBoxs .imgBox .addbox .link01.already01 { left: 33%; }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link01.already01 { max-width: 94px; height: 131px; bottom: 20%; left: 9%; } }
@media screen and (max-width: 1180px) and (min-width: 825px) { .indexBoxs .imgBox .addbox .link01 { max-width: 11%; height: 24%; bottom: 13%; left: 36%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link01 { max-width: 11%; height: 22%; bottom: 25%; left: 37%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link01 { max-width: 19%; height: 16%; bottom: 11%; left: 53%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link01 { max-width: 85px; height: 105px; bottom: 18%; left: 51%; } }
.indexBoxs .imgBox .addbox .link02 { max-width: 20%; height: 30%; bottom: 16%; left: 15%; }
@media screen and (max-width: 1180px) and (min-width: 825px) { .indexBoxs .imgBox .addbox .link02 { max-width: 18%; height: 30%; bottom: 12%; left: 16%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link02 { bottom: 22%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link02 { max-width: 35%; height: 25%; bottom: 16%; left: 3%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link02 { max-width: 114px; height: 153px; bottom: 21%; left: 7%; } }
.indexBoxs .imgBox .addbox .link03 { max-width: 15%; height: 36%; top: 18%; left: 29%; }
@media screen and (max-width: 1180px) and (min-width: 825px) { .indexBoxs .imgBox .addbox .link03 { height: 33%; top: 20%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link03 { height: 29%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link03 { max-width: 30%; height: 25%; top: 26%; left: 7%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link03 { max-width: 109px; height: 190px; top: 21%; left: 8%; } }
.indexBoxs .imgBox .addbox .link04 { max-width: 12%; height: 35%; top: 5%; left: 44%; }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link04 { height: 29%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link04 { max-width: 23%; height: 29%; top: 15%; left: 39%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link04 { max-width: 90px; height: 155px; top: 14%; left: 38%; } }
.indexBoxs .imgBox .addbox .link05 { max-width: 15%; height: 45%; top: 2%; right: 19%; }
@media screen and (max-width: 1180px) and (min-width: 825px) { .indexBoxs .imgBox .addbox .link05 { top: 5%; right: 20%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link05 { height: 35%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link05 { max-width: 26%; height: 29%; top: 2%; right: 9%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link05 { max-width: 103px; height: 150px; top: 6%; right: 7%; } }
.indexBoxs .imgBox .addbox .link06 { max-width: 17%; height: 33%; bottom: 13%; right: 18%; }
@media screen and (max-width: 1180px) and (min-width: 825px) { .indexBoxs .imgBox .addbox .link06 { bottom: 9%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .addbox .link06 { height: 28%; bottom: 23%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .addbox .link06 { max-width: 30%; height: 27%; bottom: 17%; right: 2%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .addbox .link06 { max-width: 102px; height: 150px; bottom: 25%; right: 4%; } }
.indexBoxs .linkaddfooter { display: inline-block; width: 100%; }

.m_header_r { display: none; }
@media screen and (max-width: 769px) and (min-width: 0) { .m_header_r { display: inline-block; width: 40px; float: right; height: 40px; background-color: #0063aa; color: white; font-size: 1.5rem; line-height: 40px; } }

.m_menu { display: none; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.7); position: fixed; z-index: 9999; top: 0; right: -100%; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 769px) and (min-width: 0) { .m_menu { display: inline-block; } }
.m_menu.menu_open { right: 0; }
.m_menu .menuBox { display: inline-block; width: 80%; height: 100vh; background-color: white; float: right; position: relative; }
.m_menu .menuClose { display: inline-block; width: 20%; max-width: 30px; float: right; margin: 10px 10px 0 0; }

.m_header { display: inline-block; width: 100%; padding: 15px; background-color: #f9f0c0; }

.m_header_img { display: inline-block; width: 100%; max-width: 65px; -moz-border-radius: 55px; -webkit-border-radius: 55px; border-radius: 55px; border: 1px solid #6a4320; overflow: hidden; background-color: white; float: left; margin-right: 15px; }
.m_header_img.nb_h_i { border: 0; background-color: transparent; }

.m_headerBoxsR { display: inline-block; width: calc(100% - 80px); float: left; }

.m_center { display: inline-block; width: 100%; }
.m_center .mLink { display: inline-block; width: 100%; border-bottom: 1px solid #0080ff; font-size: 1.4rem; font-weight: bolder; line-height: 40px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; padding: 10px 0; color: black; }
.m_center .mLink.out { padding: 10px 15px; }
.m_center .mLink:hover, .m_center .mLink:active { color: #0080ff; }
.m_center .mLink img { display: inline-block; width: 55px; float: left; }

#myModel, .model { display: none; justify-content: center; align-items: center; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(33, 33, 33, 0.8); }
#myModel.showModel, .model.showModel { display: flex; }
#myModel.showModel2, .model.showModel2 { display: flex; }
@media screen and (max-width: 449px) and (min-width: 0) { #myModel.showModel2, .model.showModel2 { align-items: flex-start; } }
#myModel .poupBoxs, .model .poupBoxs { display: inline-block; width: 100%; padding: 5px; *zoom: 1; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; }
#myModel .poupBoxs:after, .model .poupBoxs:after { display: table; content: ""; line-height: 0; clear: both; }
#myModel .poupBoxs.poupGreen, .model .poupBoxs.poupGreen { background: #7ab534; background: -moz-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); background: -webkit-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); background: linear-gradient(to bottom, #7ab534 14%, #d7e5a7 85%); }
#myModel .poupBoxs.poupRed, .model .poupBoxs.poupRed { background: #cc1824; background: -moz-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); background: -webkit-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); background: linear-gradient(to bottom, #cc1824 14%, #ec7e5a 85%); }
#myModel .poupBoxs.poupYellow, .model .poupBoxs.poupYellow { background: #fff8d9; background: -moz-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); background: -webkit-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); background: linear-gradient(to bottom, #ffe75d 14%, #fff8d9 85%); }
#myModel .poupBoxs .poupBoxs_bg, .model .poupBoxs .poupBoxs_bg { display: inline-block; width: 100%; height: 100%; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 20px; }
#myModel .poupBoxs .poupBoxs_bg.poupGreen_bg, .model .poupBoxs .poupBoxs_bg.poupGreen_bg { background: #fff8d9; background: -moz-linear-gradient(top, #ffffff 14%, #fff8dc 85%); background: -webkit-linear-gradient(top, #ffffff 14%, #fff8dc 85%); background: linear-gradient(to bottom, #ffffff 14%, #fff8dc 85%); }
#myModel .poupBoxs .poupBoxs_bg.poupYellow_bg, .model .poupBoxs .poupBoxs_bg.poupYellow_bg { background: #fff8d9; background: -moz-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); background: -webkit-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); background: linear-gradient(to bottom, #fff8d9 14%, #ffe75d 85%); }
@media screen and (max-width: 449px) and (min-width: 0) { #myModel .poupBoxs .poupBoxs_bg, .model .poupBoxs .poupBoxs_bg { padding: 10px; } }
#myModel .t-close, .model .t-close { display: inline-block; cursor: pointer; }
