*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bgWhite { background-color: white; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index { background-image: linear-gradient(to bottom, #407cff 14%, #ffd6b8 85%); background-color: #ffd6b8; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index_not { background-image: linear-gradient(to bottom, #ffca93 14%, #cfa7ff 85%); background-color: #cfa7ff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperPink { background-image: linear-gradient(to bottom, #4d82fd 14%, #e2c2e1 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.indexFText.growingFText { padding: 50px 0 20px 0; }
@media screen and (max-width: 799px) and (min-width: 0) { .indexFText.growingFText { padding: 20px 0; } }

.bg_growing { background-color: #ffcbcf; }

.n-footerboxs.growing-footer { bottom: -50px; }

.indexBoxs .lightBox.in-growing { display: inline-block; width: 100%; height: 100%; min-height: 1000px; background-image: url(../img/growing/index-growing-bg2.png); background-repeat: repeat-x; background-attachment: fixed; background-size: auto; }
.indexBoxs .lightBox .grow-bg { display: inline-block; width: 100%; height: 100%; min-height: 1000px; background-image: url(../img/growing/index-growing-bg.png); background-repeat: no-repeat; background-attachment: fixed; background-position: center top; background-size: auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .lightBox .grow-bg { background-size: cover; } }
.indexBoxs .imgBox .link05-g { display: inline-block; position: absolute; cursor: pointer; width: 100%; }
.indexBoxs .imgBox .link05-g { max-width: 15%; height: 45%; top: 2%; right: 19%; }
@media screen and (max-width: 1180px) and (min-width: 825px) { .indexBoxs .imgBox .link05-g { top: 5%; right: 20%; } }
@media screen and (max-width: 824px) and (min-width: 769px) { .indexBoxs .imgBox .link05-g { height: 35%; } }
@media screen and (max-width: 699px) and (min-width: 665px) { .indexBoxs .imgBox .link05-g { max-width: 26%; height: 29%; top: 20%; right: 0; } }
@media screen and (max-width: 449px) and (min-width: 0) { .indexBoxs .imgBox .link05-g { max-width: 90px; height: 206px; top: 18%; right: 0; } }
