@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

input, textarea { border: 0 none; outline: 0; background-color: transparent; -moz-appearance: none; /* Firefox */ -webkit-appearance: none; /* Safari å’Œ Chrome */ }

.loginInput { display: inline-block; width: 70%; background-color: white !important; border: 2px solid #60d0fb; padding: 8px 15px; font-size: 1.2rem; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .loginInput { width: 100%; } }

.setInput { display: inline-block; width: 80%; background-color: transparent; padding: 0 0 5px 10px; font-size: 1.5rem; }
@media screen and (max-width: 449px) and (min-width: 0) { .setInput { padding: 0 0 5px 0; width: 75%; } }

.setInput_w { display: inline-block; width: 100%; background-color: white; padding: 10px; font-size: 1.4rem; }

@keyframes hover-color { from { border-color: #c0c0c0; }
  to { border-color: #3e97eb; } }
.magic-radio, .magic-checkbox { position: absolute; display: none; }

.magic-radio[disabled], .magic-checkbox[disabled] { cursor: not-allowed; }

.magic-radio + label, .magic-checkbox + label { position: relative; display: block; padding-left: 30px; cursor: pointer; vertical-align: middle; font-size: 1.4rem; font-weight: bolder; text-align: left; color: #5b5b5b; }
@media screen and (max-width: 449px) and (min-width: 0) { .magic-radio + label, .magic-checkbox + label { display: inline-block; text-align: center; font-size: 1.3rem; } }

.magic-radio + label:hover:before, .magic-checkbox + label:hover:before { animation-duration: 0.4s; animation-fill-mode: both; animation-name: hover-color; }

.magic-radio + label:before, .magic-checkbox + label:before { position: absolute; top: 0; left: 0; display: inline-block; width: 25px; height: 25px; content: ''; background-color: white; border: 2px solid #60d0fb; }

.magic-radio + label:after, .magic-checkbox + label:after { position: absolute; display: none; content: ''; }

.magic-radio[disabled] + label, .magic-checkbox[disabled] + label { cursor: not-allowed; color: #e4e4e4; }

.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after { cursor: not-allowed; }

.magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after { cursor: not-allowed; }

.magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before { border: 1px solid #e4e4e4; animation-name: none; }

.magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before { border-color: #e4e4e4; }

.magic-radio:checked + label:before, .magic-checkbox:checked + label:before { animation-name: none; }

.magic-radio:checked + label:after, .magic-checkbox:checked + label:after { display: block; }

.magic-radio + label:before { border-radius: 50%; }
.magic-radio + label:after { top: 7px; left: 7px; width: 8px; height: 8px; border-radius: 50%; background: #3e97eb; }
.magic-radio:checked + label:before { border: 1px solid #3e97eb; }
.magic-radio:checked[disabled] + label:before { border: 1px solid #c9e2f9; }
.magic-radio:checked[disabled] + label:after { background: #c9e2f9; }

.magic-checkbox + label:before { border-radius: 3px; }
.magic-checkbox + label:after { top: 2px; left: 7px; box-sizing: border-box; width: 10px; height: 15px; transform: rotate(45deg); border-width: 2px; border-style: solid; border-color: #fff; border-top: 0; border-left: 0; }
.magic-checkbox:checked + label:before { border: #3e97eb; background: #3e97eb; }
.magic-checkbox:checked[disabled] + label:before { border: #c9e2f9; background: #c9e2f9; }
