*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.mob_open { display: none !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_open { display: inline-block !important; } }

.mob_close { display: inline-block !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_close { display: none !important; } }

.loginLogo { display: inline-block; width: 100%; max-width: 350px; }

.loginImg { display: inline-block; width: 100%; max-width: 190px; }

.loginImg_m { display: inline-block; width: 100%; max-width: 280px; }
