*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bgWhite { background-color: white; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index { background-image: linear-gradient(to bottom, #407cff 14%, #ffd6b8 85%); background-color: #ffd6b8; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index_not { background-image: linear-gradient(to bottom, #ffca93 14%, #cfa7ff 85%); background-color: #cfa7ff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperPink { background-image: linear-gradient(to bottom, #4d82fd 14%, #e2c2e1 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

.mob_open { display: none !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_open { display: inline-block !important; } }

.mob_close { display: inline-block !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_close { display: none !important; } }

.loginLogo { display: inline-block; width: 100%; max-width: 350px; }
@media screen and (max-width: 449px) and (min-width: 0) { .loginLogo { max-width: 240px; } }

.loginImg { display: inline-block; width: 100%; max-width: 190px; }

.loginImg_m { display: inline-block; width: 100%; max-width: 280px; }

.iconOk { display: inline-block; width: 100%; max-width: 60px; line-height: 40px; }

.borderB_Blue_dotted { display: inline-block; width: 100%; border-bottom: 2px dotted #419be3; }

.borderB_Blue, .borderB_Pink, .borderB_Orange { display: inline-block; width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .borderB_Blue.m_bB_none, .borderB_Pink.m_bB_none, .borderB_Orange.m_bB_none { border-bottom: 0; } }

.borderB_Blue { border-bottom: 2px solid #419be3; }
.borderB_Blue.m_bB_show { width: auto; border-bottom: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .borderB_Blue.m_bB_show { width: 100%; border-bottom: 2px solid #419be3; } }

.borderB_Pink { border-bottom: 2px solid #ff6fa2; }
.borderB_Pink.m_bB_show { width: auto; border-bottom: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .borderB_Pink.m_bB_show { width: 100%; border-bottom: 2px solid #ff6fa2; } }

.borderB_Orange { border-bottom: 2px solid #ea7115; }
.borderB_Orange.m_bB_show { width: auto; border-bottom: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .borderB_Orange.m_bB_show { width: 100%; border-bottom: 2px solid #ea7115; } }

@media screen and (max-width: 449px) and (min-width: 0) { .m_borderG { display: inline-block; width: 100%; border-bottom: 1px dotted rgba(91, 91, 91, 0.5); } }

.rImg { display: inline-block; width: 100%; max-width: 230px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .rImg { max-width: 200px; float: none; } }

.rVideoImg { display: inline-block; width: 100%; max-width: 42px; float: left; margin-right: 10px; }

.goodImg { display: inline-block; width: 100%; max-width: 30px; margin-right: 10px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .goodImg { max-width: 28px; } }
.goodImg.no_gi { margin-right: 0; float: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .goodImg.no_gi { max-width: 25px; } }

.mPageImg { display: inline-block; width: 100%; }

.barndImg { display: inline-block; width: 100%; max-width: 190px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .barndImg { max-width: 145px; } }

.barndImg2 { display: inline-block; width: 100%; max-width: 285px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .barndImg2 { max-width: 220px; } }

.brandPicImg { display: inline-block; width: 100%; max-width: 360px; height: 240px; }
@media screen and (max-width: 449px) and (min-width: 0) { .brandPicImg { max-width: none; height: 200px; } }

.acImg { display: inline-block; width: 100%; height: 125px; }
@media screen and (max-width: 449px) and (min-width: 0) { .acImg { height: 185px; } }

.video_cp { display: inline-block; width: 100%; max-width: 225px; margin-bottom: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .video_cp { margin-bottom: 0; } }

.v_size { display: inline-block; width: 100%; height: 125px; }
@media screen and (max-width: 449px) and (min-width: 0) { .v_size { height: 60px; } }

.mainImg { display: inline-block; width: 100%; max-width: 1050px; }
