@charset "UTF-8";
*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bgWhite { background-color: white; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index { background-image: linear-gradient(to bottom, #407cff 14%, #ffd6b8 85%); background-color: #ffd6b8; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index_not { background-image: linear-gradient(to bottom, #ffca93 14%, #cfa7ff 85%); background-color: #cfa7ff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperPink { background-image: linear-gradient(to bottom, #4d82fd 14%, #e2c2e1 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

html { font-size: 13px; height: 100%; }

body { position: relative; display: inline-block; width: 100%; height: 100%; margin: 0; padding: 0; color: black; text-align: center; font-family: "微軟正黑體", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }

.floatL { float: left; }

.floatR { float: right; }

@media screen and (max-width: 449px) and (min-width: 0) { .m_floatNone { float: none !important; } }

.inbg { max-width: 1200px; }

header { display: flex; align-items: center; width: 100%; height: 65px; background-color: white; padding: 0 50px; }
header.pageH { position: absolute; top: 0; left: 0; z-index: 8888; box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -webkit-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -moz-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -o-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); }
@media screen and (max-width: 449px) and (min-width: 0) { header.pageH { box-shadow: none; } }
@media screen and (max-width: 1189px) and (min-width: 1010px) { header { padding: 0 20px; } }
@media screen and (max-width: 1009px) and (min-width: 770px) { header { padding: 0 10px; } }
@media screen and (max-width: 769px) and (min-width: 450px) { header { padding: 0 0 0 20px; } }
@media screen and (max-width: 449px) and (min-width: 0) { header { display: inline-block; padding: 0 0 0 10px; height: 40px; } }

.header_l, .header_r { display: inline-block; }

.header_l { width: 30%; float: left; text-align: left; }
@media screen and (max-width: 1009px) and (min-width: 770px) { .header_l { width: 35%; } }
@media screen and (max-width: 769px) and (min-width: 0) { .header_l { width: calc(100% - 60px); } }

.header_r { width: 70%; float: right; text-align: right; }
@media screen and (max-width: 1009px) and (min-width: 770px) { .header_r { width: 65%; } }
@media screen and (max-width: 769px) and (min-width: 0) { .header_r { display: none; } }

.logo, .header_icon { display: inline-block; width: 100%; }

.logo { max-width: 132px; margin-right: 5px; }
@media screen and (max-width: 1009px) and (min-width: 770px) { .logo { max-width: 115px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .logo { max-width: 85px; } }

.header_icon { max-width: 30px; padding-top: 13px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .header_icon { padding-top: 5px; } }

.allBoxs { display: inline-block; width: 100%; *zoom: 1; }
.allBoxs:after { display: table; content: ""; line-height: 0; clear: both; }

.boxs70 { width: 70%; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs70 { width: 100%; } }

.box1000 { display: inline-block; width: 100%; max-width: 1000px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box1000 { width: 100%; padding: 0 25px; } }

.box880 { display: inline-block; width: 100%; max-width: 880px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box880 { width: 100%; padding: 0 25px; } }

.box650 { display: inline-block; width: 100%; max-width: 750px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box650 { width: 100%; padding: 0 25px; } }

.box500 { display: inline-block; width: 100%; max-width: 500px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box500 { width: 100%; padding: 0 25px; } }

.centBoxsWhite { display: inline-block; width: 100%; padding: 5px; *zoom: 1; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background-color: white; padding: 40px; }
.centBoxsWhite:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .centBoxsWhite { padding: 25px; } }

.loginboxs { display: inline-block; width: 100%; padding: 5px; *zoom: 1; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background: #fff8d9; background: -moz-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #ffe75d 14%, #fff8d9 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.loginboxs:after { display: table; content: ""; line-height: 0; clear: both; }
.loginboxs .loginbox_bg { display: inline-block; width: 100%; height: 100%; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background: #fff8d9; background: -moz-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #fff8d9 14%, #ffe75d 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ padding: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .loginboxs .loginbox_bg { padding: 20px; } }

.loginLeft { display: inline-block; width: calc(100% - 190px); float: left; padding-right: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .loginLeft { width: 100%; padding-right: 0; } }

.loginRight { display: inline-block; width: 190px; float: right; }

footer { display: inline-block; width: 100%; padding: 20px; margin-top: 80px; font-size: 1rem; background-color: #4294ff; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { footer { margin-top: 25px; } }

.userPic { display: inline-block; width: 40px; height: 40px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 1px solid #6a4320; overflow: hidden; margin: 0 15px; }

.setLeft, .setRight { display: inline-block; float: left; }
.setLeft.set_no_f, .setRight.set_no_f { float: none; }
.setLeft.setFull, .setRight.setFull { width: 100% !important; }

.setLeft { display: inline-block; width: 170px; }
@media screen and (max-width: 449px) and (min-width: 0) { .setLeft { width: 100%; } }
.setLeft .setUserBox { display: inline-block; width: 100%; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .setLeft .setUserBox { width: 61%; } }
.setLeft .setUserBox .iconCam { display: inline-block; position: absolute; width: 45px; right: 10px; bottom: -14px; }
.setLeft .setUserBox .setUser { display: inline-block; width: 100%; max-width: 135px; overflow: hidden; background-color: white; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; }

.setRight { display: inline-block; width: calc(100% - 170px); }
@media screen and (max-width: 449px) and (min-width: 0) { .setRight { width: 100%; } }

.s_box25, .s_box75 { display: inline-block; float: left; text-align: left; }

.s_box25 { width: 25%; padding-left: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .s_box25 { width: 100%; padding-left: 0; padding-bottom: 10px; } }

.s_box75 { width: 75%; border-bottom: 1px solid #5b5b5b; }
@media screen and (max-width: 449px) and (min-width: 0) { .s_box75 { width: 100%; } }
.s_box75.s_nob { border-bottom: 0; }

.recordTitleBoxs { display: inline-block; width: 100%; border-bottom: 2px dotted #4294ff; padding-bottom: 15px; }

.monthBoxs { display: inline-block; }

.recordL, .recordR { display: inline-block; float: left; }

.recordL { width: 230px; }
@media screen and (max-width: 449px) and (min-width: 0) { .recordL { width: 100%; padding-bottom: 10px; } }

.recordR { width: calc(100% - 230px); }
@media screen and (max-width: 449px) and (min-width: 0) { .recordR { width: 100%; padding-top: 20px; } }

.boxs3 { display: inline-block; width: calc(100% / 3); float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs3 { width: 100%; } }

.m_box50 { display: inline-block; width: 100%; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_box50 { width: 50%; } }

.box80 { display: inline-block; width: 80%; float: left; padding: 25px 0; }
.box80 .blank10 { display: inline-block; width: calc(100% / 10); float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .box80 { width: 100%; padding: 0; } }

.box20 { display: inline-block; width: 20%; float: left; padding: 20px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .box20 { width: 100%; } }

.topBar { display: inline-block; width: 100%; min-height: 185px; padding: 0 50px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .topBar { min-height: auto; padding: 0; } }
@media screen and (max-width: 769px) and (min-width: 450px) { .topBar { min-height: 110px; } }
@media screen and (max-width: 1099px) and (min-width: 770px) { .topBar { min-height: 140px; } }
.topBar .topL, .topBar .topR { display: inline-block; float: left; position: absolute; }
.topBar .topL { width: 50%; top: 0; left: 50px; }
.topBar .topL a { display: inline-block; width: 100%; max-width: 780px; float: left; }
.topBar .topL a img { display: inline-block; width: 100%; max-width: 780px; float: left; }
.topBar .topR { width: 50%; right: 50px; bottom: 0; }
.topBar .topR img { display: inline-block; width: 100%; max-width: 800px; float: right; }

.hInputBox { display: inline-block; padding-top: 5px; }

.brandBox { display: inline-block; width: 100%; }
.brandBox.bPink { border-top: 5px solid #fdb3f7; }
.brandBox.bBlue { border-top: 5px solid #65c7f2; }

.brandL, .brandR { display: inline-block; }

.brandL { width: 100%; max-width: 360px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .brandL { max-width: none; } }

.brandR { width: calc(100% - 360px); padding-left: 30px; }
@media screen and (max-width: 449px) and (min-width: 0) { .brandR { width: 100%; padding-left: 0; padding-top: 30px; } }

.workBox { display: inline-block; width: 100%; height: 100%; max-height: 575px; overflow-y: scroll; margin-top: 20px; }

.wB4 { display: inline-block; width: calc(100% / 4 - 30px * 3 / 4); float: left; margin-right: 30px; }
.wB4:nth-child(4n+4) { margin-right: 0; }
.wB4:nth-child(n+5) { margin-top: 30px; }
@media screen and (max-width: 449px) and (min-width: 0) { .wB4 { width: 100%; margin-right: 0; margin-top: 0; margin-bottom: 30px; } }

.videoL { display: inline-block; width: 30%; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .videoL { width: 100%; } }

.videoR { display: inline-block; width: 70%; float: left; padding-left: 20px; margin-top: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .videoR { width: 100%; padding-left: 0; margin-top: 30px; } }

.v_sboxs { display: inline-block; width: calc(100% / 3 - 10px * 2 / 3); float: left; }
.v_sboxs:nth-child(2) { margin-right: 10px; margin-left: 10px; }
