@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

html { font-size: 13px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: black; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }

.floatL { float: left; }

.floatR { float: right; }

header { display: flex; justify-content: center; align-items: center; width: 100%; height: 65px; background-color: white; padding: 0 50px; }
header.pageH { position: absolute; top: 0; left: 0; z-index: 8888; box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -webkit-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -moz-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -o-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); }
@media screen and (max-width: 449px) and (min-width: 0) { header.pageH { box-shadow: none; } }
@media screen and (max-width: 1189px) and (min-width: 770px) { header { padding: 0 20px; } }
@media screen and (max-width: 769px) and (min-width: 450px) { header { padding: 0 0 0 20px; } }
@media screen and (max-width: 449px) and (min-width: 0) { header { display: inline-block; padding: 0 0 0 10px; height: 40px; } }

.header_l, .header_r { display: inline-block; }

.header_l { width: 30%; float: left; text-align: left; }
@media screen and (max-width: 769px) and (min-width: 0) { .header_l { width: 85%; } }

.header_r { width: 70%; float: right; text-align: right; }
@media screen and (max-width: 769px) and (min-width: 0) { .header_r { display: none; } }

.logo, .header_icon { display: inline-block; width: 100%; }

.logo { max-width: 132px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .logo { max-width: 85px; } }

.header_icon { max-width: 30px; padding-top: 13px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .header_icon { padding-top: 5px; } }

.allBoxs { display: inline-block; width: 100%; *zoom: 1; }
.allBoxs:after { display: table; content: ""; line-height: 0; clear: both; }

.boxs70 { width: 70%; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs70 { width: 100%; } }

.box880 { display: inline-block; width: 100%; max-width: 880px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box880 { width: 100%; padding: 0 25px; } }

.box650 { display: inline-block; width: 100%; max-width: 750px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box650 { width: 100%; padding: 0 25px; } }

.box500 { display: inline-block; width: 100%; max-width: 500px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .box500 { width: 100%; padding: 0 25px; } }

.centBoxsWhite { display: inline-block; width: 100%; padding: 5px; *zoom: 1; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background-color: white; padding: 40px; }
.centBoxsWhite:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .centBoxsWhite { padding: 25px; } }

.loginboxs { display: inline-block; width: 100%; padding: 5px; *zoom: 1; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background: #fff8d9; background: -moz-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #ffe75d 14%, #fff8d9 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.loginboxs:after { display: table; content: ""; line-height: 0; clear: both; }
.loginboxs .loginbox_bg { display: inline-block; width: 100%; height: 100%; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background: #fff8d9; background: -moz-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #fff8d9 14%, #ffe75d 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ padding: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .loginboxs .loginbox_bg { padding: 20px; } }

.loginLeft { display: inline-block; width: calc(100% - 190px); float: left; padding-right: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .loginLeft { width: 100%; padding-right: 0; } }

.loginRight { display: inline-block; width: 190px; float: right; }

footer { display: inline-block; width: 100%; padding: 20px; margin-top: 80px; font-size: 1rem; background-color: #4294ff; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { footer { margin-top: 25px; } }

.userPic { display: inline-block; width: 40px; height: 40px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 1px solid #6a4320; overflow: hidden; margin: 0 15px; }

.setLeft, .setRight { display: inline-block; float: left; }
.setLeft.set_no_f, .setRight.set_no_f { float: none; }
.setLeft.setFull, .setRight.setFull { width: 100% !important; }

.setLeft { display: inline-block; width: 170px; }
@media screen and (max-width: 449px) and (min-width: 0) { .setLeft { width: 100%; } }
.setLeft .setUserBox { display: inline-block; width: 100%; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .setLeft .setUserBox { width: 61%; } }
.setLeft .setUserBox .iconCam { display: inline-block; position: absolute; width: 45px; right: 10px; bottom: -14px; }
.setLeft .setUserBox .setUser { display: inline-block; width: 100%; max-width: 135px; overflow: hidden; background-color: white; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; }

.setRight { display: inline-block; width: calc(100% - 170px); }
@media screen and (max-width: 449px) and (min-width: 0) { .setRight { width: 100%; } }

.s_box25, .s_box75 { display: inline-block; float: left; text-align: left; }

.s_box25 { width: 25%; padding-left: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .s_box25 { width: 100%; padding-left: 0; padding-bottom: 10px; } }

.s_box75 { width: 75%; border-bottom: 1px solid #5b5b5b; }
@media screen and (max-width: 449px) and (min-width: 0) { .s_box75 { width: 100%; } }
.s_box75.s_nob { border-bottom: 0; }
