*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.bgWhite { background-color: white; }

.bg_login { background-image: linear-gradient(to bottom, #3cb1ff 14%, #ffedac 85%); background-color: #ffedac; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index { background-image: linear-gradient(to bottom, #407cff 14%, #ffd6b8 85%); background-color: #ffd6b8; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_index_not { background-image: linear-gradient(to bottom, #ffca93 14%, #cfa7ff 85%); background-color: #cfa7ff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperBlue { background-image: linear-gradient(to bottom, #407cff 14%, #6ee5ff 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_paperPink { background-image: linear-gradient(to bottom, #4d82fd 14%, #e2c2e1 85%); background-color: #407cff; background-repeat: no-repeat, no-repeat, no-repeat; background-position: bottom right, left, right; }

.bg_LYellow { background-color: #fff6d7; }

.bg_LPink { background-color: #fff3f6; }

.qaBoxs { display: inline-block; width: 100%; padding: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .qaBoxs { padding: 20px; } }

.qaBox { display: inline-block; width: 100%; background-image: url(../img/qa/qa-bg.png); background-repeat: no-repeat; background-size: cover; background-position: center; }

.qa-title { color: #3463a6; margin-left: -18px; }
@media screen and (max-width: 449px) and (min-width: 0) { .qa-title { margin-top: 10px; margin-left: 0; font-size: 1.6rem !important; } }

.qa-q { color: #006fb9; }

.qa-a { padding-left: 21px; }
.qa-a:before { display: inline-block; content: 'A'; padding-right: 5px; margin-left: -21px; }

.fw { width: 100%; }

.qaC { display: inline-block; width: 100%; height: 100%; }
.qaC .qaL, .qaC .qaR, .qaC .qaM { display: inline-block; float: left; }
.qaC .qaL { width: 20px; background-image: url(../img/qa/bgl.png); background-repeat: repeat-y; }
.qaC .qaM { width: calc(100% - 20px * 2); padding: 2%; }

.qaR { width: 20px; background-image: url(../img/qa/bgr.png); background-repeat: repeat-y; }
