*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.m-d-80 { margin-bottom: 80px; }
@media screen and (max-width: 449px) and (min-width: 0) { .m-d-80 { margin-bottom: 25px; } }

.m-t-50 { margin-top: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .m-t-50 { margin-top: 25px; } }

.m-e-10 { margin-right: 10px; }

.m-s-10 { margin-left: 10px; }

.m-t-10 { margin-top: 10px; }

.m-t-20 { margin-top: 20px; }

.m-t-30 { margin-top: 30px; }

.m-y-20 { margin: 20px 0; }

@media screen and (max-width: 449px) and (min-width: 0) { .mm-y-20 { margin: 20px 0; } }

@media screen and (max-width: 449px) and (min-width: 0) { .mm-t-20 { margin-top: 20px; } }

.m-d-10 { margin-bottom: 10px; }

.m-d-20 { margin-bottom: 20px; }

.p-d-10 { padding-bottom: 10px; }

.p-d-20 { padding-bottom: 20px; }

.p-y-10 { padding: 10px 0; }

.p15 { padding: 15px; }

.p20 { padding: 20px; }

.p-y-15 { padding-top: 15px; padding-bottom: 15px; }

.p-x-20 { padding-left: 20px; padding-right: 20px; }

.p-y-20 { padding-top: 20px; padding-bottom: 20px; }
