@import "Ginkgo";

$color_LGray:rgba(215, 215, 215, 1.00);
$color_footer: rgba(18, 158, 255, 1.00);
$color_red: rgba(227, 82, 82, 1.00);
$color_DBlue:rgba(0, 50, 124, 1.00);
$page_green: rgba(78, 143, 43, 1.00); // 綠色
$page_blue: rgba(35, 126, 177, 1.00); // 藍色
$page_purple: rgba(175, 77, 172, 1.00); // 紫色
$page_brown: rgba(153, 101, 54, 1.00); // 棕色
$video_blue: rgba(82, 177, 227, 1.00);



$font_grey: rgba(91, 91, 91, 1.00);
$color_LBlue: rgba(66, 148, 255, 1.00);
$color_Blue: rgba(0, 128, 255, 1.00);
$color_orange: rgba(246, 136, 28, 1.00); // 橘色

.bgWhite {
	background-color: white;
}

.bg_login {
	background-image: linear-gradient(to bottom, rgba(60, 177, 255, 1) 14%,  rgba(255, 237, 172, 1) 85%);
	background-color: rgba(255, 237, 172, 1);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}

.bg_index {
	background-image: linear-gradient(to bottom,  rgba(64, 124, 255, 1.00) 14%,  rgba(255, 214, 184, 1.00) 85%);
	background-color: rgba(255, 214, 184, 1.00);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}

.bg_paperBlue {
	background-image: linear-gradient(to bottom, rgba(64, 124, 255, 1.00) 14%,  rgba(110, 229, 255, 1.00) 85%);
	background-color: rgba(64, 124, 255, 1.00);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}

.bg_paperPink {
	background-image: linear-gradient(to bottom, rgba(77, 130, 253, 1.00) 14%,  rgba(226, 194, 225, 1.00) 85%);
	background-color: rgba(64, 124, 255, 1.00);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}


.bg_LYellow {
	background-color: rgba(255, 246, 215, 1.00);
}

.bg_LPink {
	background-color: rgba(255, 243, 246, 1.00);
}











