@import "Ginkgo";
@import "color";

// 首頁
.bannerBoxs {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 6666;
  padding: 0 20px;

  // d
  // background-color: rgba(255, 0, 0, 0.2);

  .ibOut {
    display: inline-block;
    width: 100%;
    max-width: 1150px;

    .ibanner {
      display: inline-block;
      width: calc(100% / 4 - 15px * 3 / 4);
      height: 120px;
      float: left;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
      
      background-color: white;
      @include border-radius(10px);
      
    }
  }
}

.footerbox {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5555;

  height: 62px;
  background-image: url(../img/index/wave03.svg);
  background-repeat: repeat-x;
}

.indexFT {
  display: inline-block;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
  font-size: 1rem;
  background-color: #134b7b;
  color: white;
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: 5555;
  background-image: url(../img/index/bbg.svg);
  background-repeat: repeat;
}

.indexBoxs {
  display: inline-block;
  width: 100%;
  position: relative;

  .lightBox {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2222;
  }

  .imgBox {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3333;

    .addbox {
      display: inline-block;
      position: absolute;
      width: 100%;
      max-width: 1050;
      height: 100%;

      .link01, .link02, .link03, .link04, .link05, .link06 {
        display: inline-block;
        position: absolute;
        cursor: pointer;

        // background-color: rgba(255, 0, 0, 0.2);
      } 

      // 看影片輕鬆學
      .link01 {
        width: 200px;
        height: 255px;
        bottom: 115px;
        left: 600px;
      }

      // 非會員體驗區
      .link02 {
        width: 340px;
        height: 360px;
        bottom: 75px;
        left: 255px;
      }

      // 數學魔法列車
      .link03 {
        width: 260px;
        height: 375px;
        top: 178px;
        left: 480px;
      }

      // 語文夢幻高塔
      .link04 {
        width: 190px;
        height: 350px;
        top: 45px;
        left: 45%;
      }

      // 活動區
      .link05 {
        width: 200px;
        height: 340px;
        top: 155px;
        right: 365px;
      }

      // 思考力冒險迷宮
      .link06 {
        width: 270px;
        height: 330px;
        bottom: 90px;
        right: 295px;
      }
    }
  }

  .linkaddfooter {
    display: inline-block;
    width: 100%;
  }
}



// 手機Menu
.m_header_r {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 40px;
    float: right;
    height: 40px; 
    background-color: rgba(0, 99, 170, 1.00);
    color: white;
    font-size: 1.5rem;
    line-height: 40px;
  }
}

.m_menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  @include transition(all .3s);
  

  @include range-width(0, 450px) {
    display: inline-block;
  }

  &.menu_open {
    right: 0;
  }

  .menuBox {
    display: inline-block;
    width: 80%;
    height: 100vh;
    background-color: white;
    float: right;
    position: relative;
  }

  .menuClose {
    display: inline-block;
    width: 20%;
    max-width: 30px;
    float: right;
    margin: 10px 10px 0 0;
  }
}

.m_header {
  display: inline-block;
  width: 100%;
  padding: 15px; 
  background-color: rgba(249, 240, 192, 1.00);
}

.m_header_img {
  display: inline-block;
  width: 100%;
  max-width: 65px;
  @include border-radius(55px);
  border: 1px solid rgba(106, 67, 32, 1.00); // 咖啡色
  overflow: hidden;
  background-color: white;
  float: left;
  margin-right: 15px;

  &.nb_h_i {
    border: 0;
    background-color: transparent;
  } 
}

.m_headerBoxsR {
  display: inline-block;
  width: calc(100% - 80px);
  float: left;
}

.m_center {
  display: inline-block;
  width: 100%;

  .mLink {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $color_Blue;
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 40px;
    @include transition(all .3s);
    text-align: left;
    padding: 10px 0;
    color: black;

    &:hover, &:active {
      color: $color_Blue;
    }

    img {
      display: inline-block;
      width: 55px;
      float: left;
    }
  }
}






// 光箱
#myModel, .model {
  // display: inline-block;
  display: none;

  &.showModel {
    display: flex;
  }

  &.showModel2 {
    display: flex;  
  }
  
  @include range-width(0, 450px) {
    &.showModel2 {
      align-items: flex-start;
    }
  }

  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 33, 33, .8);
  
  .poupBoxs {
	  display: inline-block;
	  width: 100%;
	  padding: 5px;
	  @include clearfix();
	  @include border-radius(20px);

	  &.poupGreen {
	  	background: #7ab534;
		  background: -moz-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); 
		  background: -webkit-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); 
		  background: linear-gradient(to bottom, #7ab534 14%, #d7e5a7 85%);
	  }

	  &.poupRed {
	  	background: #cc1824;
		  background: -moz-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); 
		  background: -webkit-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); 
		  background: linear-gradient(to bottom, #cc1824 14%, #ec7e5a 85%);
	  }

    &.poupYellow {
      background: #fff8d9;
      background: -moz-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); 
      background: -webkit-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); 
      background: linear-gradient(to bottom, #ffe75d 14%, #fff8d9 85%);
    }

	  .poupBoxs_bg {
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    @include border-radius(20px);
	    padding: 20px;

	    &.poupGreen_bg {
		  	background: #fff8d9;
			  background: -moz-linear-gradient(top, #ffffff 14%, #fff8dc 85%);
			  background: -webkit-linear-gradient(top, #ffffff 14%, #fff8dc 85%); 
			  background: linear-gradient(to bottom, #ffffff 14%, #fff8dc 85%);
		  }

	    &.poupYellow_bg {
        background: #fff8d9;
        background: -moz-linear-gradient(top, #fff8d9 14%, #ffe75d 85%);
        background: -webkit-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); 
        background: linear-gradient(to bottom, #fff8d9 14%, #ffe75d 85%);
      }

	    @include range-width(0, 450px) {
	      padding: 10px;
	    }
	  }
	}

  .t-close {
    display: inline-block;
    cursor: pointer;
    // float: right;
  }
}