@import "Ginkgo";
@import "color";

.n-footerboxs {
  display: inline-block;
  width: 100%;
  // height: 220px;
  position: absolute;
  bottom: -24%;
  left: 0;
  z-index: 6666;
  padding: 0 15px;
  background-repeat: repeat-x;
  background-position:left bottom;
  background-image: url(../img/index/wave03.svg);

  &.nom {
    bottom: -19%;

    @include range-width(916px, 1025px) {
      bottom: -22%;
    }
  }

  @include range-width(0, 916px) {
    background-image: none;
    position: unset;
    background-color: #134b7b;
  }

  // @include range-width(843px, 895px) {
  //   background-image: none;
  //   background-color: #134b7b;
  //   bottom: -25%;
  // }

  // @include range-width(665px, 843px) {
  //   background-image: none;
  //   background-color: #134b7b;
  //   bottom:0;
  // }

  // @include range-width(0, 665px) {
  //   background-image: none;
  //   background-color: #134b7b;
  //   bottom: -10%;
  // }
}

.ibOut {
  // display: inline-block;
  width: 100%;
  max-width: 1150px;
  padding-top: 20px;
  margin: 0 auto;

  @include range-width(0, 900px) {
    display: none;
  }

  .ibanner {
    display: inline-block;
    width: calc(100% / 4 - 15px * 3 / 4);
    // height: 120px;
    height: 100%;
    float: left;
    margin-right: 15px;
    border: 5px solid white;
    background-color: white;
    @include border-radius(10px);

    &:last-child {
      margin-right: 0;
    }
  }
}


.indexFText {
  display: inline-block;
  width: 100%;
  max-width: 1150px;
  font-size: 1rem;
  color: white;
  padding: 20px 0;
}




// 首頁
.bannerBoxs {
  display: inline-block;
  width: 100%;
  position: absolute;
  // bottom: -3%;
  bottom: -4%;
  left: 0;
  z-index: 6666;
  padding: 0 20px;

  @include range-width(1300px) {
    bottom: -35px;
  }

  @include range-width(915px, 1025px) {
    bottom: -9%;
  }

  @include range-width(0, 915px) {
    display: none;
  }

  // d
  // background-color: rgba(255, 0, 0, 0.2);

  // .ibOut {
  //   display: inline-block;
  //   width: 100%;
  //   max-width: 1150px;

  //   .ibanner {
  //     display: inline-block;
  //     width: calc(100% / 4 - 15px * 3 / 4);
  //     height: 120px;
  //     float: left;
  //     margin-right: 15px;
  //     border: 5px solid white;
  //     background-color: white;
  //     @include border-radius(10px);

  //     &:last-child {
  //       margin-right: 0;
  //     }
  //   }
  // }
}

.footerbox {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: -4%;
  left: 0;
  z-index: 5555;

  height: 62px;
  background-image: url(../img/index/wave03.svg);
  background-repeat: repeat-x;

  @include range-width(1300px) {
    bottom: -2%;
  }

  // @include range-width(450px, 770px) {
  //   bottom: -1%;
  // }

  @include range-width(0, 916px) {
    // bottom: 7%;
    // height: 25px;
    display: none;
  }
}

.indexFT {
  display: inline-block;
  width: 100%;
  padding: 62px 20px 20px 20px;
  // margin-top: 80px;
  font-size: 1rem;
  background-color: #134b7b;
  color: white;
  position: absolute;
  bottom: -13%;
  left: 0;
  z-index: 5555;
  background-image: url(../img/index/bbg.svg);
  background-repeat: repeat;

  @include range-width(1300px) {
    bottom: -13.5%;
  }

  @include range-width(916px, 1025px) {
    bottom: -20%;
  }

  @include range-width(850px, 916px) {
    padding: 17px 20px 20px 20px;
  }

  @include range-width(770px, 850px) {
    padding: 17px 20px 20px 20px;
    bottom: -10%;
  }

  @include range-width(450px, 770px) {
    padding: 17px 20px 20px 20px;
    bottom: 0;
  }

  @include range-width(0, 450px) {
    padding: 10px 5px;
    font-size: .8rem;
    bottom: -4%;
  }
}

.indexBoxs {
  display: inline-block;
  width: 100%;
  position: relative;

  .lightBox {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2222;

    &.in-a {
      display: inline-block;
      width: 100%;
      height: 100%;
      // min-height: 1000px;
      min-height: 895px;
      background-image: url(../img/index/index-a.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      // background-size: cover;
      background-size: auto;
    }

    &.in-b {
      display: inline-block;
      width: 100%;
      height: 100%;
      // min-height: 1000px;
      min-height: 895px;
      background-image: url(../img/index/index-b.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      // background-size: cover;
      background-size: auto;
    }
  }

  .imgBox {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3333;

    .addbox {
      display: inline-block;
      position: absolute;
      width: 100%;
      max-width: 1200px;
      height: 100%;
      // left: 0;
      // border: 1px solid rgba(255, 0, 0, .3);

      @include range-width(840px, 916px) {
        height: 85%;
      }

      @include range-width(0, 770px) {
        height: 90%;
      }

      .link00, .link01, .link02, .link03, .link04, .link05, .link06 {
        display: inline-block;
        position: absolute;
        cursor: pointer;
        width: 100%;

        // background-color: rgba(255, 0, 0, 0.2);
      } 

      // 回首頁
      .link00 {
        max-width: 22%;
        height: 21%;
        top: 3%;
        left: 9%;

        @include range-width(665px, 700px) {
          max-width: 38%;
          height: 13%;
          top: 3%;
          left: 6%;
        }

        @include range-width(769px, 825px) {
          height: 18%;
        }

        @include range-width(0, 450px) {
          max-width: 110px;
          height: 79px;
          top: 3%;
          left: 11%;
        }
      }

      // 看影片輕鬆學
      .link01 {
        max-width: 13%;
        height: 24%;
        bottom: 16%;
        left: 36%;

        // 非會員
        &.already01 {
          left: 33%;

          @include range-width(0, 450px) {
            max-width: 94px;
            height: 131px;
            bottom: 20%;
            left: 9%;
          }
        }

        @include range-width(825px, 1181px) {
          max-width: 11%;
          height: 24%;
          bottom: 13%;
          left: 36%;
        }

        @include range-width(769px, 825px) {
          max-width: 11%;
          height: 22%;
          bottom: 25%;
          left: 37%;
        }

        @include range-width(665px, 700px) {
          max-width: 19%;
          height: 16%;
          bottom: 11%;
          left: 53%;
        }

        @include range-width(0, 450px) {
          max-width: 85px;
          height: 105px;
          bottom: 18%;
          left: 51%;
        }
      }

      // 非會員體驗區
      .link02 {
        max-width: 20%;
        height: 30%;
        bottom: 16%;
        left: 15%;

        @include range-width(825px, 1181px) {
          max-width: 18%;
          height: 30%;
          bottom: 12%;
          left: 16%;
        }

        @include range-width(769px, 825px) {
          bottom: 22%;
        }

        @include range-width(665px, 700px) {
          max-width: 35%;
          height: 25%;
          bottom: 16%;
          left: 3%;
        }

        @include range-width(0, 450px) {
          max-width: 114px;
          height: 153px;
          bottom: 21%;
          left: 7%;
        }
      }

      // 數學魔法列車
      .link03 {
        max-width: 15%;
        height: 36%;
        top: 18%;
        left: 29%;

        @include range-width(825px, 1181px) {
          height: 33%;
          top: 20%;
        }

        @include range-width(769px, 825px) {
          height: 29%;
        }

        @include range-width(665px, 700px) {
          max-width: 30%;
          height: 25%;
          top: 26%;
          left: 7%;
        }

        @include range-width(0, 450px) {
          max-width: 109px;
          height: 190px;
          top: 21%;
          left: 8%;
        }
      }

      // 語文夢幻高塔
      .link04 {
        max-width: 12%;
        height: 35%;
        top: 5%;
        left: 44%;

        @include range-width(769px, 825px) {
          height: 29%;
        }

        @include range-width(665px, 700px) {
          max-width: 23%;
          height: 29%;
          top: 15%;
          left: 39%;
        }

        @include range-width(0, 450px) {
          max-width: 90px;
          height: 155px;
          top: 14%;
          left: 38%;
        }
      }

      

      // 活動區
      .link05 {
        max-width: 15%;
        height: 45%;
        top: 2%;
        right: 19%;

        @include range-width(825px, 1181px) {
          top: 5%;
          right: 20%;
        }

        @include range-width(769px, 825px) {
          height: 35%;
        }

        @include range-width(665px, 700px) {
          max-width: 26%;
          height: 29%;
          top: 2%;
          right: 9%;
        }

        @include range-width(0, 450px) {
          max-width: 103px;
          height: 150px;
          top: 6%;
          right: 7%;
        }
      }

      // 思考力冒險迷宮
      .link06 {
        max-width: 17%;
        height: 33%;
        bottom: 13%;
        right: 18%;

        @include range-width(825px, 1181px) {
          bottom: 9%;
        }

        @include range-width(769px, 825px) {
          height: 28%;
          bottom: 23%;
        }

        @include range-width(665px, 700px) {
          max-width: 30%;
          height: 27%;
          bottom: 17%;
          right: 2%;
        }

        @include range-width(0, 450px) {
          max-width: 102px;
          height: 150px;
          bottom: 25%;
          right: 4%;
        }
      }
    }
  }

  .linkaddfooter {
    display: inline-block;
    width: 100%;
  }
}



// 手機Menu
.m_header_r {
  display: none;

  @include range-width(0, 770px) {
    display: inline-block;
    width: 40px;
    float: right;
    height: 40px; 
    background-color: rgba(0, 99, 170, 1.00);
    color: white;
    font-size: 1.5rem;
    line-height: 40px;
  }
}

.m_menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  @include transition(all .3s);
  

  @include range-width(0, 770px) {
    display: inline-block;
  }

  &.menu_open {
    right: 0;
  }

  .menuBox {
    display: inline-block;
    width: 80%;
    height: 100vh;
    background-color: white;
    float: right;
    position: relative;
  }

  .menuClose {
    display: inline-block;
    width: 20%;
    max-width: 30px;
    float: right;
    margin: 10px 10px 0 0;
  }
}

.m_header {
  display: inline-block;
  width: 100%;
  padding: 15px; 
  background-color: rgba(249, 240, 192, 1.00);
}

.m_header_img {
  display: inline-block;
  width: 100%;
  max-width: 65px;
  @include border-radius(55px);
  border: 1px solid rgba(106, 67, 32, 1.00); // 咖啡色
  overflow: hidden;
  background-color: white;
  float: left;
  margin-right: 15px;

  &.nb_h_i {
    border: 0;
    background-color: transparent;
  } 
}

.m_headerBoxsR {
  display: inline-block;
  width: calc(100% - 80px);
  float: left;
}

.m_center {
  display: inline-block;
  width: 100%;

  .mLink {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $color_Blue;
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 40px;
    @include transition(all .3s);
    text-align: left;
    padding: 10px 0;
    color: black;

    &.out {
      padding: 10px 15px;
    }

    &:hover, &:active {
      color: $color_Blue;
    }

    img {
      display: inline-block;
      width: 55px;
      float: left;
    }
  }
}






// 光箱
#myModel, .model {
  // display: inline-block;
  display: none;

  &.showModel {
    display: flex;
  }

  &.showModel2 {
    display: flex;  
  }
  
  @include range-width(0, 450px) {
    &.showModel2 {
      align-items: flex-start;
    }
  }

  // cursor: pointer;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 33, 33, .8);
  
  .poupBoxs {
	  display: inline-block;
	  width: 100%;
	  padding: 5px;
	  @include clearfix();
	  @include border-radius(20px);

	  &.poupGreen {
	  	background: #7ab534;
		  background: -moz-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); 
		  background: -webkit-linear-gradient(top, #7ab534 14%, #d7e5a7 85%); 
		  background: linear-gradient(to bottom, #7ab534 14%, #d7e5a7 85%);
	  }

	  &.poupRed {
	  	background: #cc1824;
		  background: -moz-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); 
		  background: -webkit-linear-gradient(top, #cc1824 14%, #ec7e5a 85%); 
		  background: linear-gradient(to bottom, #cc1824 14%, #ec7e5a 85%);
	  }

    &.poupYellow {
      background: #fff8d9;
      background: -moz-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); 
      background: -webkit-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); 
      background: linear-gradient(to bottom, #ffe75d 14%, #fff8d9 85%);
    }

	  .poupBoxs_bg {
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    @include border-radius(20px);
	    padding: 20px;

	    &.poupGreen_bg {
		  	background: #fff8d9;
			  background: -moz-linear-gradient(top, #ffffff 14%, #fff8dc 85%);
			  background: -webkit-linear-gradient(top, #ffffff 14%, #fff8dc 85%); 
			  background: linear-gradient(to bottom, #ffffff 14%, #fff8dc 85%);
		  }

	    &.poupYellow_bg {
        background: #fff8d9;
        background: -moz-linear-gradient(top, #fff8d9 14%, #ffe75d 85%);
        background: -webkit-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); 
        background: linear-gradient(to bottom, #fff8d9 14%, #ffe75d 85%);
      }

	    @include range-width(0, 450px) {
	      padding: 10px;
	    }
	  }
	}

  .t-close {
    display: inline-block;
    cursor: pointer;
    // float: right;
  }
}