@import "Ginkgo";
@import "color";

* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}

.indexFText {
	&.growingFText {
		padding: 50px 0 20px 0;

    @include range-width(0, 800px) {
      padding: 20px 0;
    }
	}
}

.bg_growing {
	background-color: #064b82;
}

.n-footerboxs {
  &.growing-footer {
  	bottom: -50px;
  }
}


.n-footerboxs {
  display: inline-block;
  width: 100%;
  // height: 220px;
  position: absolute;
  bottom: -24%;
  left: 0;
  z-index: 6666;
  padding: 0 15px;
  background-repeat: repeat-x;
  background-position:left bottom;
  background-image: url(../img/index/wave03.svg);

  &.growing-wave {
    background-image: url(../img/growing/wave04.svg);

    @include range-width(0, 450px) {
      background-image: none;
    }
  }

  &.nom {
    bottom: -19%;

    @include range-width(916px, 1025px) {
      bottom: -22%;
    }
  }

  @include range-width(0, 916px) {
    background-image: none;
    position: unset;
    background-color: #134b7b;
  }

}


.indexBoxs {
  
  .lightBox {

    &.in-growing {
      display: inline-block;
      width: 100%;
      height: 100%;
      // min-height: 1000px;
      min-height: 895px;
      background-image: url(../img/growing/index-growing-bg2.png);
      background-repeat: repeat-x;
      background-attachment: fixed;
      background-size: auto;

      @include range-width(0, 450px) {
        display: none !important;
      }
    }

    .grow-bg {
      display: inline-block;
      width: 100%;
      height: 100%;
      // min-height: 1000px;
      min-height: 765px;
      background-image: url(../img/growing/index-growing-bg.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      background-size: auto;

      @include range-width(0, 450px) {background-size: cover;}
    }
  }

  .imgBox {

    .link05-g {
        display: inline-block;
        position: absolute;
        cursor: pointer;
        width: 100%;

        // background-color: rgba(255, 0, 0, 0.2);
      } 

      // 活動區
      .link05-g {
        max-width: 15%;
        height: 45%;
        top: 2%;
        right: 19%;

        @include range-width(825px, 1181px) {
          top: 5%;
          right: 20%;
        }

        @include range-width(769px, 825px) {
          height: 35%;
        }

        @include range-width(665px, 700px) {
          max-width: 26%;
          height: 29%;
          top: 20%;
          right: 0;
        }

        @include range-width(0, 450px) {
          max-width: 90px;
          height: 206px;
          top: 18%;
          right: 0;
        }
      }

    }

}



    