@import "Ginkgo";
@import "color";

.mob_open {
  display: none !important;
  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

.mob_close {
  display: inline-block !important;
  @include range-width(0, 450px) {
    display: none !important;
  }
}


.loginLogo {
  display: inline-block;
  width: 100%;
  max-width: 350px;
}

.loginImg {
  display: inline-block;
  width: 100%;
  max-width: 190px;
}

.loginImg_m {
  display: inline-block;
  width: 100%;
  max-width: 280px;
}