@import "Ginkgo";
@import "color";


html {
  font-size: 13px;
  height: 100%;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-family: "微軟正黑體", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.m_floatNone {
  @include range-width(0, 450px) {
    float: none !important;
  }
}

.inbg {
  max-width: 1200px;
  // max-height: 835px;
}

// header
header {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: white;
  padding: 0 50px;

  &.pageH {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8888;
    box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -webkit-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -moz-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -o-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);

    @include range-width(0, 450px) {
      box-shadow: none;
    }
  }

  @include range-width(1010px, 1190px) {
    padding: 0 20px;
  }

  @include range-width(770px, 1010px) {
    padding: 0 10px;
  }

  @include range-width(450px, 770px) {
    padding: 0 0 0 20px;
  }

  @include range-width(0, 450px) {
    display: inline-block;
    padding: 0 0 0 10px;
    height: 40px;
  }
}

.header_l, .header_r {
  display: inline-block;
  // line-height: 65px;
}

.header_l {
  width: 30%;
  float: left;
  text-align: left;

  @include range-width(770px, 1010px) {
    width: 35%;
  }

  @include range-width(0, 770px) {
    width: calc(100% - 60px);
  }
}

.header_r {
  width: 70%;
  float: right;
  text-align: right;

  @include range-width(770px, 1010px) {
    width: 65%;
  }

  @include range-width(0, 770px) {
    display: none;
  }
}

.logo, .header_icon {
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 132px;
  margin-right: 5px;

  @include range-width(770px, 1010px) {
    max-width: 115px;
  }

  @include range-width(0, 450px) {
    max-width: 85px;
  }
}

.header_icon {
  max-width: 30px;
  padding-top: 13px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    padding-top: 5px;
  }
}


.allBoxs {
  display: inline-block;
  width: 100%;
  @include clearfix();
}

.boxs70 {
  width: 70%;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box1000 {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  @include range-width(0, 450px) {
    width: 100%;
    padding: 0 25px;
  }
}

.box880 {
  display: inline-block;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;

  @include range-width(0, 450px) {
    width: 100%;
    padding: 0 25px;
  }
}

.box650 {
  display: inline-block;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;

  @include range-width(0, 450px) {
    width: 100%;
    padding: 0 25px;
  }
}

.box500 {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  @include range-width(0, 450px) {
    width: 100%;
    padding: 0 25px;
  }
}

.centBoxsWhite {
  display: inline-block;
  width: 100%;
  padding: 5px;
  @include clearfix();
  @include border-radius(20px);
  background-color: white;
  padding: 40px;

  @include range-width(0, 450px) {
    padding: 25px;
  }
}

.loginboxs {
  display: inline-block;
  width: 100%;
  padding: 5px;
  @include clearfix();
  @include border-radius(20px);
  background: #fff8d9;
  background: -moz-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffe75d 14%, #fff8d9 85%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffe75d 14%, #fff8d9 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .loginbox_bg {
    display: inline-block;
    width: 100%;
    height: 100%;
    @include border-radius(20px);
    background: #fff8d9;
    background: -moz-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff8d9 14%, #ffe75d 85%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff8d9 14%,#ffe75d 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 40px;

    @include range-width(0, 450px) {
      padding: 20px;
    }
  }
}

.loginLeft {
  display: inline-block;
  width: calc(100% - 190px);
  float: left;
  padding-right: 20px;

  @include range-width(0, 450px) {
    width: 100%;
    padding-right: 0;
  }
}

.loginRight {
  display: inline-block;
  width: 190px;
  float: right;
}


footer {
  display: inline-block;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
  font-size: 1rem;

  background-color: $color_LBlue;
  color: white;

  @include range-width(0, 450px) {
    margin-top: 25px;
  }
}

.userPic {
  display: inline-block;
  width: 40px;
  height: 40px;
  @include border-radius(30px);
  border: 1px solid rgba(106, 67, 32, 1.00); // 咖啡色
  overflow: hidden;
  margin: 0 15px;
}

.setLeft, .setRight {
  display: inline-block;
  float: left;

  &.set_no_f {
    float: none;
  }

  &.setFull {
    width: 100% !important;
  }
}

.setLeft {
  display: inline-block;
  width: 170px;

  @include range-width(0, 450px) {
    width: 100%;
  }

  .setUserBox {
    display: inline-block;
    width: 100%;
    position: relative;

    @include range-width(0, 450px) {
      width: 61%;
    }

    .iconCam {
      display: inline-block;
      position: absolute;
      width: 45px;
      right: 10px;
      bottom: -14px;
    }

    .setUser {
      display: inline-block;
      width: 100%;
      max-width: 135px;
      overflow: hidden;
      background-color: white;
      @include border-radius(100px);
    }
  }
}

.setRight {
  display: inline-block;
  width: calc(100% - 170px);

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.s_box25, .s_box75 {
  display: inline-block;
  float: left;
  text-align: left;
}

.s_box25 {
  width: 25%;
  padding-left: 20px;

  @include range-width(0, 450px) {
    width: 100%;
    padding-left: 0;
    padding-bottom: 10px;
  }
}

.s_box75 {
  width: 75%;
  border-bottom: 1px solid rgba(91, 91, 91, 1.00);

  @include range-width(0, 450px) {
    width: 100%;
  }

  &.s_nob {
    border-bottom: 0;
  }
}

.recordTitleBoxs {
  display: inline-block;
  width: 100%;
  border-bottom: 2px dotted $color_LBlue;
  padding-bottom: 15px; 
}

.monthBoxs {
  display: inline-block;
}

.recordL, .recordR {
  display: inline-block;
  float: left;
}

.recordL {
  width: 230px;

  @include range-width(0, 450px) {
    width: 100%;
    padding-bottom: 10px;
  }
}
.recordR {
  width: calc(100% - 230px);

  @include range-width(0, 450px) {
    width: 100%;
    padding-top: 20px;
  }
}

.boxs3 {
  display: inline-block;
  width: calc(100% / 3);
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.m_box50 {
  display: inline-block;
  width: 100%;
  float: left;

  @include range-width(0, 450px) {
    width: 50%;
  }
}


.box80 {
  display: inline-block;
  width: 80%;
  float: left;
  padding: 25px 0;

  .blank10 {
    display: inline-block;
    width: calc(100% / 10);
    float: left;
  }

  @include range-width(0, 450px) {
    width: 100%;
    padding: 0;
  }
}

.box20 {
  display: inline-block;
  width: 20%;
  float: left;
  padding: 20px 0;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.topBar {
  display: inline-block;
  width: 100%;
  min-height: 185px;
  padding: 0 50px;
  position: relative;


  @include range-width(0, 450px) {
    min-height: auto;
    padding: 0;
  }

  @include range-width(450px, 770px) {
    min-height: 110px;
  }

  @include range-width(770px, 1100px) {
    min-height: 140px;
  }


  .topL, .topR {
    display: inline-block;
    float: left;
    position: absolute;
  }

  .topL {
    width: 50%;
    top: 0;
    left: 50px;
    a {
      display: inline-block;
      width: 100%;
      max-width: 780px;
      float: left;
      
      img {
        display: inline-block;
        width: 100%;
        max-width: 780px;
        float: left;
      }
    }
  }

  .topR {
    width: 50%;
    // top: 20px;
    right: 50px;
    bottom: 0;

    img {
      display: inline-block;
      width: 100%;
      max-width: 800px;
      float: right;
    }
  }
}

.hInputBox {
  display: inline-block;
  padding-top: 5px;
}

.brandBox {
  display: inline-block;
  width: 100%;

  &.bPink {
    border-top: 5px solid rgba(253, 179, 247, 1.00);
  }

  &.bBlue {
    border-top: 5px solid rgba(101, 199, 242, 1.00);
  }
}

.brandL, .brandR {
  display: inline-block;
}

.brandL {
  width: 100%;
  max-width: 360px;
  float: left;

  @include range-width(0, 450px) {
    max-width: none;
  }
}

.brandR {
  width: calc(100% - 360px);
  padding-left: 30px;

  @include range-width(0, 450px) {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
}

.workBox {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-height: 575px;
  overflow-y: scroll;
  margin-top: 20px;
}

.wB4 {
  display: inline-block;
  width: calc(100% / 4 - 30px * 3 / 4);
  float: left;
  margin-right: 30px;

  &:nth-child(4n+4) {
    margin-right: 0;
  }

  &:nth-child(n+5) {
    margin-top: 30px;
  }

  @include range-width(0, 450px) {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.videoL {
  display: inline-block;
  width: 30%;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.videoR {
  display: inline-block;
  width: 70%;
  float: left;
  padding-left: 20px;
  margin-top: 40px;

  @include range-width(0, 450px) {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
}

.v_sboxs {
  display: inline-block;
  width: calc(100% / 3 - 10px * 2 / 3);
  float: left;

  &:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
  }
}







