@import "Ginkgo";

// login logo use
.m-d-80 {
	margin-bottom: 80px;

	@include range-width(0, 450px) {
		margin-bottom: 25px;
	}
}

// 使用：忘記密碼的按鈕
.m-t-50 {
	margin-top: 50px;

	@include range-width(0, 450px) {
		margin-top: 25px;
	}
}

.m-e-10 {
	margin-right: 10px;
}

.m-s-10 {
	margin-left: 10px;
}

.m-t-10 {
	margin-top: 10px;
}

.p-d-10 {
	padding-bottom: 10px;
}

.p-y-10 {
	padding: 10px 0;
}

.m-y-20 {
	margin: 20px 0;
}