@import "Ginkgo";

// login logo use
.m-d-80 {
	margin-bottom: 80px;

	@include range-width(0, 450px) {
		margin-bottom: 25px;
	}
}

// 使用：忘記密碼的按鈕
.m-t-50 {
	margin-top: 50px;

	@include range-width(0, 450px) {
		margin-top: 25px;
	}
}

.m-e-10 {
	margin-right: 10px;
}

.m-s-10 {
	margin-left: 10px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-y-20 {
	margin: 20px 0;
}

.mm-y-20 {
	@include range-width(0, 450px) {
		margin: 20px 0;
	}
}

.m-d-10 {
	margin-bottom: 10px;
}

.p-d-10 {
	padding-bottom: 10px;
}

.p-y-10 {
	padding: 10px 0;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p-y-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.p-x-20 {
	padding-left: 20px; 
	padding-right: 20px; 
}

.p-y-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}








