@import "color";
@import "Ginkgo";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


p {
  padding: 0;
  margin: 0;
}

.textAlign_L {
  text-align: left;
}

.textAlign_R {
  text-align: right;
}

.loginTitle {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: "cwTeXYen", sans-serif;
  font-weight: bolder;
  color: $color_LBlue;

  @include range-width(0, 450px) {
    font-size: 2rem;
  }
}

.indexName {
  display: inline-block;
  font-weight: bolder;
  color: $font_grey;
  font-size: 1.4rem;
  line-height: 35px;
  margin-right: 5px;

  @include range-width(770px, 1010px) {
    font-size: 1.2rem;
  }

  &.mi {
    width: 65px;
    font-size: 1.2rem;
    line-height: 28px;
  }
}

.loginName {
  display: inline-block;
  width: 30%;
  padding-right: 5px;
  font-weight: bolder;
  color: $font_grey;
  font-size: 1.4rem;
  text-align: left;
  float: left;
  line-height: 36px;

  @include range-width(0, 450px) {
    width: 100%;
    text-align: center;
  }

  &.ln_be {
    &:before {
      display: none;
    }
  }

  &:before {
    display: inline-block;
    content: '*';
    color: red;
    margin-right: 5px;
  }
}

.notetext {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
}

.userName {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 40px;

  @include range-width(0, 450px) {
    font-size: 1.2rem;
    line-height: normal;
    width: 100%;
  }
}

.setTitle {
  display: inline-block;
  width: 100%;
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: "cwTeXYen", sans-serif;
  font-weight: bolder;
  color: $color_LBlue;
  margin-bottom: 20px;
  border-bottom: 1px dotted $color_Blue; 

  @include range-width(0, 450px) {
    font-size: 2.4rem;
  }
}

.text18 {
  display: inline-block;
  float: left;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bolder;
  color: rgba(91, 91, 91, 1.00);
}

.text20 {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgba(91, 91, 91, 1.00);
  padding-top: 15px;
}

.text24 {
  display: inline-block;
  float: left;
  font-size: 1.8rem;
  font-weight: bolder;
  color: rgba(91, 91, 91, 1.00);

  // 使用：學習紀錄王小明
  @include range-width(0, 450px) {
    padding-bottom: 20px;

    &:before {
      display: block !important;
      font-size: 1.4rem;
    }
  }

  &:before {
    display: inline-block;
    content: attr(title);
    color: $color_orange;
    margin-right: 5px;
  }
}

.timeTotal {
  display: inline-block;
  float: right;
  font-weight: bolder;
  font-size: 1.6rem;
  color: $color_orange;

  // &:before {
  //   display: inline-block;
  //   content: '本月學習時數：';
  // }

  // &:after {
  //   display: inline-block;
  //   content: '分鐘';
  // }
}

.month {
  display: inline-block;
  font-weight: bolder;
  font-size: 2.4rem;
  color: $color_orange;
  float: left;
  margin: 0 10px;
  vertical-align: middle;

  // &:after {
  //   display: inline-block;
  //   content: '月';
  // }
}

.rVideoText {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  color: $color_orange;
  float: left;
  line-height: 35px;
}

.number {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(230, 75, 20, 1.00);
  @include border-radius(50px);
  color: white;
  font-weight: bolder;
  font-size: 1.4rem;
  line-height: 30px;
  margin-bottom: 10px;

  @include range-width(0, 450px) {
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    line-height: 25px;
  }
}

.gameTatle {
  display: inline-block;
  // width: 100%;
  font-weight: bolder;
  font-size: 2.4rem;
  color: rgba(230, 75, 20, 1.00);
  margin-bottom: 10px;
  vertical-align: middle;

  &.gover {
    font-size: 1.6rem;
    margin-bottom: 0;
    float: left;

    // &:after {
    //   display: none;
    // }

    @include range-width(0, 450px) {
      margin-top: 20px;
      margin-left: 7px;
    }
  }

  &.gover2 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: -9px;
    
    // &:after {
    //   display: none;
    // }

    @include range-width(0, 450px) {
      font-size: 2rem;
      margin-top: 4px;
      margin-left: 37px;
    }
  }

  // &:after {
  //   display: inline-block;
  //   content: '分';
  // }

  @include range-width(0, 450px) {
    float: left;
  }
}

.acTatle {
  display: inline-block;
  width: 100%;
  font-weight: bolder;
  font-size: 2.4rem;
  text-align: left;
  color: $font_grey;

  &.atb {
    color: $color_Blue;
  }

  &.atp {
    color: rgba(255, 112, 162, 1.00);
  }

  @include range-width(0, 450px) {
    text-align: center;
  }
}

.texto14 {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  color: $color_orange;
}

.text_vd14 {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  color: $color_orange;
  padding-top: 10px;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }
}












